<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<title>Movie Lister!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/js/users.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
