<h1>Streaming Watchlist!</h1>

<h2>Add a user</h2>


<form class="create-form">
  <div class="form-group" id="user-form">
    <label for="username"></label>
    <input type="text" id="username" name="name">
  </div>
  <button type="submit" id="submitBtn">Add User</button>
</form>
<br>

{{#each user}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    {{user}}
    <button class="btn delete-btn" data-id="{{id}}">
      Delete
    </button>
  </div>
</div>
{{/each}}