<section class="signup-section" id="signup">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fas fa-user fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-4">{{user.user}}</h2>
        <form class="form-inline d-flex">
          <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="show" type="text" name="show"
            placeholder="Enter TV/Movie Name..." />
          <button class="btn btn-primary mx-auto js-scroll-trigger" type="submit" id="apiSearch"><i
              class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      {{#each user}}
      <div class="col-md-4 mb-3 mt-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <button class="btn  mx-auto btn-info " type="submit" id="submitBtn">{{user}}</button>
            <button class="mt btn btn-danger" data-id="{{id}}">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="https://github.com/ZiWang55/WhatsStreamin"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
